.editorContainer {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.editorMaximized {
  /* width: 100%; */

  height: auto;
}

.textareaMaximized {
  width: 100%;
  height: 100vh;
  resize: vertical;
}
.textareaMinimized {
  width: 100%;
  height: auto;
  min-height: 30vh;
  resize: vertical;
}

.childTitle {
  font-size: 4em;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: blue;
}
#editor {
  height: 100%;
  color: blue;
}
.infoForUser {
  background-color: white;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
.previewHeader {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.ButtonMax {
  display: inline;
}
